# Ignore Python virtual environments
Backend/venv/
env/
Backend/.venv/

# Ignore VSCode settings
.vscode/

# Ignore Python cache files
Backend*/**/__pycache__/
Backend*/**/*.py[cod]
Backend*/**/*$py.class

# Ignore Jupyter Notebook checkpoints if you use them
.ipynb_checkpoints/

# Ignore logs, coverage reports, and system files
*.log
*.sqlite3
.DS_Store
Frontend/.env
Backend/.env

# dependencies
/Frontend/node_modules
/Frontend/.pnp
/Frontend/.pnp.js
/Frontend/.yarn/install-state.gz

# testing
/coverage

# next.js
/Frontend/.next/
/Frontend/out/

# production
/Frontend/build
